<html>
  <head>
  </head>
  <body>
  {{#staffInfo}}
  <div>
    <div>
          <h4>Staff information</h4>
          <p>
              Name :{{name}} 
          </p>
          <p>
              Biography :{{bio}}
          </p>
    </div>
  </div> 
  {{/staffInfo}}
  </body>
</html>
